<!-- ======= Header ======= -->
<header id="header" class="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="/"><span>D</span>omaulec</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logoP.png" alt="" title="" /></a> -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/Accueil" routerLinkActive=active>Accueil</a></li>
                <li><a href="/Accueil#about-us" routerLinkActive=active>Qui Sommes-nous ?</a></li>
                <li><a href="/Accueil#services" routerLinkActive=active>Nos Services</a></li>
                <li><a href="/Accueil#screenshots" routerLinkActive=active>Nos références</a></li>
                <!-- <li><a routerLink="#team">Team</a></li> -->
                <li><a href="/Accueil#pricing" routerLinkActive=active>Nos Produits</a></li>
                <!-- <li class="menu-has-children"><a href="">Drop Down</a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                        <li><a href="#">Drop Down 5</a></li>
                    </ul>
                </li> -->
                <!-- <li><a href="#blog">Blog</a></li> -->
                <li><a href="/Accueil#contact">Contact</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- End Header -->
