<h2 id="videosurveillance">Vidéosurveillance</h2>
<!-- <h5>Title description, Dec 7, 2017</h5> -->
<div class="w-100 ">
    <img src="assets/img/service/items/vidéosurveillance.jpg" alt=" " class="w-100 ">
</div>
<!-- <p>Some text..</p> -->
<p>La vidéosurveillance pour les particuliers et professionnels
</p>
<p>Vous souhaitez sécuriser votre bien et avoir la possibilité de faire une vérification à distance ?</p>
<p>Nous vous conseillons de choisir la vidéo surveillance. S’équiper d’un système de surveillance, vous permettra de visionner à distance vos caméras sur votre smartphone ou ordinateur et d’enregistrer les images afin de les utiliser en cas de problème (cambriolage,
    agression…).
</p>
<p>Toute nos caméras disposent d’une qualité d’image en haute définition et de leds infrarouges pour vous permettent de voir de jour comme de nuit. Elles répondent également à la norme d’étanchéité IP 66 ou 67 (selon le modèle) et sont anti-vandalisme.</p>

<p>Le kit vidéo surveillance reste sans aucun doute le système de surveillance le plus efficace. Nos systèmes sont vendus complets, avec tous les accessoires nécessaires à leur bon fonctionnement. Nous disposons de kits de vidéo surveillance filaire et sans
    fil (wifi). Nos kits vont de 2 à 64 caméras avec une qualité allant de 1 à 12 mégapixels. Via notre application, vous pourrez accéder à vos caméras à distance et ainsi, regarder en temps réel, ou sur votre enregistrement, les images de votre système.
</p>


<ul>
    <li>Contrairement à ce que l’on pourrait croire, les systèmes de vidéosurveillance sont tout à fait abordables; </li>
    <li>Les deux types de système : IP et analogique, sont assez simples à installer et à configurer; </li>
    <li>En plus de filmer les effractions, vous pourrez (en cas d'incident) exporter les images sur clef USB ou disque dur afin de les transmettre au service de police; </li>
    <li>Nos kits peuvent enregistrer en enregistrement en continu (24H/24H), sur détection de mouvement ou sur plage horaires ; Ils peuvent être un complément d’une alarme </li>
    <li>Plus besoin de stresser lorsque vous partez en vacances !! À tout moment de la nuit ou de la journée, n’importe où dans le monde, vous pourrez garder un œil sur votre maison ou vos bureaux.

</ul>
<br>

<h2 id="visiophone">Visiophone</h2>
<!-- <h5>Title description, Dec 7, 2017</h5> -->
<div class="w-100 ">
    <img src="assets/img/service/items/VISIOPHONE.jpg" alt=" " class="w-100 ">
</div>
<!-- <p>Some text..</p> -->
<p>Avec nos visiophones, vous ne manquerez plus jamais un visiteur. Vous pouvez voir qui sonne à votre porte d'entrée et ouvrir la porte avec votre smartphone ou votre tablette. Le lecteur RFID intégré permet un contrôle d'accès sécurisé et sans clé
</p>

<p>Désormais, vos colis seront toujours livrés - même si vous êtes sur la route. Vous serez informé immédiatement quand quelqu’un sonne à la porte et décidez spontanément où il doit laisser le colis. Vous pouvez le diriger vers un voisin ou lui ouvrir la
    porte du garage.</p>
