<h2 id="bilan-de-puissance">BILAN DE PUISSANCE</h2>
<!-- <h5>Title description, Dec 7, 2017</h5> -->
<div class="w-100 ">
    <img src="assets/img/service/items/bilan-electrique.jpg" alt=" " class="w-100 ">
</div>
<!-- <p>Some text..</p> -->
<p>Le bilan de puissance est une étape indispensable dans une installation électrique. Il prend en compte la totalité des puissances des appareils installés et leur utilisation. En fonction du résultat obtenu, nous vous conseillerons dans le choix du type
    de tarif à installer dans vos locaux. L’objectif de ce bilan de puissance est de déterminer la puissance ainsi que l’intensité totale de votre installation. Ce dernier prend en compte les différents appareils électriques que vous possédez ainsi que
    leur usage. Pour un résultat permettant un bon fonctionnement de son installation électrique, deux coefficients sont utilisés :
</p>
<ul>
    <li>KS qui détermine les conditions d’usage de l’installation</li>
    <li>Ku qui détermine en fonction du temps le taux d’utilisation d’un récepteur</li>
</ul>
<p>
    Grâce à ce calcul, la puissance totale de votre installation électrique peut être déterminée
</p>


<br>

<h2 id="installation-electrique">INSTALLATION ELECTRIQUE</h2>
<!-- <h5>Title description, Dec 7, 2017</h5> -->
<div class=" w-100 ">
    <img src="assets/img/service/items/installation-electrique.jpg " alt=" " class="w-100 ">
</div>
<!-- <p>Some text..</p> -->
<p>Sécurité, fiabilité, économie, confort et souplesse sont autant de critères qui permettent de juger de la qualité d’une installation électrique. Les techniciens doivent en tenir compte au moment de réaliser une nouvelle installation ou de rénover une
    installation existante. Nombre d’installations présentent des risques d’incendie et d’électrocution raison pour laquelle Domaulec exige de ses techniciens le respect strict des normes en vigueur.
</p>

<br>
