<h2>LA DOMOTIQUE</h2>
<!-- <h5>Title description, Dec 7, 2017</h5> -->
<div class="w-100 ">
    <img src="assets/img/service/items/Domotique.jpg " alt=" " class="w-100 ">
</div>
<!-- <p>Some text..</p> -->
<p>
    Depuis toujours les progrès de la technologie ont permis progressivement d’améliorer le confort et la sécurité de son logement et aujourd’hui il devient banal d’avoir du chauffage avec thermostat programmable, des volets motorisés, des lumières qui s’allument
    avec un détecteur de mouvement, un système d’alarme. Plus récemment les détecteurs de fumée ont été rendus obligatoires, en attendant sans doute des détecteurs de C02 ou d’inondation. Tous ces systèmes plus ou moins automatisés fonctionnent indépendamment
    avec leurs boîtiers de contrôle et leurs multiples télécommandes. De plus ils ne sont réglables qu’en « local » c'est-à-dire qu’il faut être chez soi pour les actionner ou modifier des réglages. Maintenant avec les nouvelles technologies (internet
    et smartphone) on peut envisager de nouvelles fonctionnalités inimaginables il y a encore quelques années, et à tout petit budget. Vous avez tous constaté comment l’internet et les nouveaux téléphones ont modifié profondément nos habitudes de communication.
    Que l’on soit au travail, en vacances, ou à l’autre bout du monde, on trouve normal de pouvoir communiquer instantanément avec ses proches, les appeler, leur écrire et envoyer des informations. Partant de ce constat il semble donc naturel de pouvoir
    également communiquer simplement avec sa maison et savoir ce qui s’y passe à tout instant avec son téléphone portable, sa tablette ou un ordinateur, où que l’on soit, et pouvoir intervenir rapidement et efficacement en cas d’anomalie.
</p>

<br>


<h2>BOX DOMOTIQUE</h2>
<!-- <h5>Title description, Dec 7, 2017</h5> -->
<div class="w-100 ">
    <img src="assets/img/service/items/box-domotique.jpg" alt=" " class="w-100 ">

</div>
<!-- <p>Some text..</p> -->
<p>
    Le fonctionnement est similaire à celui d’un système d’alarme, d’ailleurs on peut considérer qu’un système d’alarme est de la domotique dont les fonctionnalités sont limitées à l’application d’alarme. Une installation domotique est composée :
</p>

<ul>
    <li>D’une unité de contrôle (l’équivalent de la centrale d’alarme) appelée box domotique ou contrôleur domotique, connectée au box internet (câble ou wifi) </li>
    <li>D’équipements dits émetteurs qui transmettent des informations à l’unité de contrôle : détecteurs, télécommandes, caméras… </li>
    <li>D’équipements dits récepteurs qui reçoivent des informations de l’unité de contrôle : moteurs de volets roulants, prises télécommandées.</li>
</ul>
<p>
    L’unité de contrôle est le cerveau de l’installation qui gère les flux d’informations entre émetteurs et récepteurs et qui assure la communication avec l’utilisateur. Comme pour les systèmes d’alarme les transmissions entre le box et les équipements émetteurs
    et récepteurs sont actuellement toutes sans fil par radio fréquence offrant l’avantage de simplifier la mise en place en évitant des câblages coûteux, et inesthétiques dans l’ancien.
</p>

<p>
    La règlementation a défini des standards de radio fréquence:
</p>
<ul>
    <li>433 MHz </li>
    <li>868 MHz </li>
    <li>2,4 GHz (incluant le wifi)
    </li>
</ul>
<p>
    Ces gammes de radio fréquence autorisent des distances de transmission de quelques dizaines de mètres ce qui est généralement suffisant pour une habitation particulière. La communication entre le box et l’utilisateur se fait via le réseau informatique
    domestique et internet autorisant ainsi une accessibilité totale sans frontière.
</p>
<br>
