<!-- <app-header></app-header> -->

<!-- ======= Hero Section ======= -->
<!-- <section id="hero">
    <div class="hero-container" data-aos="fade-in">
        <h1>Bienvenue chez Domaulec</h1>
        <h2>Votre bureau d’étude, de conseil et de réalisation en domotique, immotique, multimédias et nouvelles technologies du bâtiment. &amp; plus...</h2>
        <img src="assets/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
        <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
        <div class="btns">
            <a href="#"><i class="fa fa-facebook-square fa-3x"></i> Facebook</a>
            <a href="#"><i class="fa fa-instagram fa-3x"></i> Instagram</a>
            <a href="#"><i class="fa fa-twitter fa-3x"></i> Twitter</a>
        </div>
    </div>
</section> -->
<!-- End Hero Section -->

<!-- <main id="main"> -->
<!-- <section class=""></section> -->
<router-outlet>
</router-outlet>
<!-- </main> -->

<app-footer></app-footer>
