<h2 id="gestion-line-wait">SYSTÈME DE GESTION DES FILES D’ATTENTE</h2>
<!-- <h5>Title description, Dec 7, 2017</h5> -->
<div class="w-100 ">
    <img src="assets/img/service/items/home_center_gestion_acc.png" alt=" " class="w-100 ">
</div>
<!-- <p>Some text..</p> -->
<p>Le client sélectionne son besoin sur le distributeur de tickets, particulier, professionnel, abonné, etc… par l’intermédiaire de boutons. En échange, il obtient un ticket lui indiquant selon le paramétrage, le nombre de client en attente dans sa file
    et le numéro sous lequel il sera appelé. Le client décide de patienter et peut ainsi profiter du temps d’attente pour découvrir vos présentations et votre showroom en toute quiétude ou de patienter tranquillement en salle d’attente.
</p>
<p>Lorsqu’ un vendeur se libère, il sélectionne automatiquement le client suivant ou un client prioritaire sur son poste d’appel (paramétrage des priorités). Lorsque son numéro arrive, celui-ci s’affiche sur l’écran vidéo accompagné d’un signal sonore, le
    client se présente au comptoir. Le vendeur s’occupe alors du client en fonction de sa demande.</p>
<p> Le responsable d’accueil dispose d’une supervision en temps réel lui donnant une vue d’ensemble de son accueil, afin de mettre en place éventuellement des ressources ou d’accueillir certain clients de façon prioritaire. Lorsque le vendeur a terminé de
    s’occuper de son client il clôture alors la visite, le système mesure alors précisément, le temps d’attente et le temps de service. Il peut de plus analyser les statistiques journalières, mensuelles ou autres sur son poste informatique.
</p>

<br>

<h2 id="gestion-time-present">SYSTÈME DE GESTION DES TEMPS DE PRESENCE</h2>
<!-- <h5>Title description, Dec 7, 2017</h5> -->
<div class="w-100 ">
    <img src="assets/img/service/items/Syst-me-de-gestion-du-tempsa.webp" alt=" " class="w-100 ">
</div>
<!-- <p>Some text..</p> -->
<p>Le système gestion du temps et de travail est un système électronique basé sur l’ordinateur qui permet d'enregistrer le moment de l’entrée et de la sortie du personnel, ce système forme les rapports quotidiens et annuels de ces registres. Le but est de
    minimiser le potentiel humain et de faire des enregistrements parfaits.
</p>


<p>
    Le système de gestion du temps est d'une efficacité qui assure à votre société, à votre bande de production, à votre personnel, à votre potentiel humain de travailler de façon plus effectif et plus organisée et il vous aide à recevoir un rendement maximum.
</p>


<p>
    Domaulec se concentre sur vos besoins et sur les problèmes que vous voulez dissoudre et avec les équipements les plus conformes, nous vous proposons les solutions les plus convenables.
</p>


<br>
