<h2>Contrôle d'accès</h2>
<!-- <h5>Title description, Dec 7, 2017</h5> -->
<div class="w-100 ">
    <img src="assets/img/service/items/Access-Control-System.jpg" alt=" " class="w-100 ">
</div>
<!-- <p>Some text..</p> -->
<p>Le système de contrôle d'accès est devenu un indispensable dans la sécurisation de votre site. Le but des systèmes de contrôle d’accès est de contrôler l’accès des personnes aux lieux définis et de prendre en rapport ces accès. Si on le désire il est
    possible de faire une limitation de temps et une identification d’accès à la porte. De nombreux professionnels choisissent d’installer un système de contrôle d’accès dans leurs locaux car cela leur permet de :
</p>
<ul>
    <li>Gérer, filtrer et optimiser les flux de personnes sur leur site </li>
    <li>Limiter les droits d’entrée à des personnes autorisées et de gérer leurs entrées et sorties </li>
    <li>Protéger leurs employés de comportements à risques </li>
    <li>Sécuriser leurs employés et visiteurs en verrouillant l’accès à des zones dangereuses </li>
    <li>Empêcher les vols de matériels et l’accès à des données confidentielles </li>
    <li>Protéger vos bâtiments en dissuadant des actes de malveillance


</ul>
<p>
    Les composants du système sont les lecteurs de carte et d’empreinte digitale, les tourniquets et les logiciels de contrôle d’accès. Les informations de situation accumulées sur les terminaux peuvent être transférées à l’ordinateur, soit de façon on-line,
    soit de façon off line. Pour ainsi offrir un environnement de sécurité aux employés, visiteurs et sous-traitants. Ce contrôle d’accès entre dans une démarche globale de sécurité et peut être associé à d’autres systèmes de sécurité électronique tels
    que la vidéosurveillance.
</p>
<br>

<h2>Alarme intrusion</h2>
<!-- <h5>Title description, Dec 7, 2017</h5> -->
<div class="w-100 ">
    <img src="assets/img/service/items/DETECTION D’INTRUSION.jpg" alt=" " class="w-100 ">
</div>
<!-- <p>Some text..</p> -->
<p>Protégez les personnes et les biens matériels avec un système de sécurité sur lequel vous pouvez compter. Des installations les plus simples aux projets les plus complexes, nous proposons des solutions de sécurité intégrées reposant sur une technologie
    qui a fait ses preuves et un support technique. Faciles à utiliser, nos systèmes d'alarme peuvent être facilement associés à des caméras vidéo, des détecteurs de fumée, des appareils domotiques, etc. Nous proposons des solutions personnalisables répondant
    aux demandes et exigences des utilisateurs.</p>

<br>

<h2>DETECTION D’INTRUSION</h2>
<!-- <h5>Title description, Dec 7, 2017</h5> -->
<div class="w-100 ">
    <img src="assets/img/service/items/Alarme intrusion.jpg" alt=" " class="w-100 ">
</div>
<!-- <p>Some text..</p> -->
<p>La détection d’intrusion intelligente est un équilibre basé sur deux actions. Prendre en compte les menaces réelles et faire abstraction des perturbations ambiantes. Les détecteurs de Domaulec répondent aux exigences de presque toutes les applications
    allant du résidentiel aux installations de hautes sécurité en passant par les centres commerciaux. Les technologies déposées par Bosch sont uniques. Elle démontre des performances comme la rapidité, la fiabilité et la stabilité de détection.
</p>
<p>La conception des détecteurs permettent aux techniciens une installation simple et rapide.</p>

<br>

<h2>PREVENTION INCENDIE</h2>
<!-- <h5>Title description, Dec 7, 2017</h5> -->
<div class="w-100 ">
    <img src="assets/img/service/items/prevention-incendie.jpg " alt=" " class="w-100 ">
</div>
<!-- <p>Some text..</p> -->
<p>Un
    <span class="font-weight-bold">système de sécurité incendie</span> est un équipement qui permet de mettre en sécurité l 'établissement dès l'apparition d 'un signe de feu, détecter par nos capteurs. Dans un établissement recevant du Public ou dans
    les immeubles de grande hauteur, le système de sécurité incendie est un des moyens de secours qui peut être imposé soit par le règlement de sécurité, soit par la commission de sécurité. Ayant pour but premier d'assurer la sécurité des personnes, puis
    de faciliter l’intervention des pompiers et enfin de limiter la propagation du feu, l 'appareil détecte, et provoque plusieurs actions de sécurité. Ces actions sont classées en quatre familles de fonction que l'on note : Compartimentage, Désenfumage,
    Arrêt Technique, Évacuation.
</p>
<p>Le système que nous proposons à nos clients présente 3 qualités incontournables : Fiabilité, Crédibilité, Rapidité. Pour ces raisons, il fait l'objet de tests quotidiens, et de vérifications annuelles par des nos techniciens.</p>
<p>Il s'agit d'un système autonome, et il se compose de deux sous-systèmes : le système de détection et le système de mise en sécurité</p>
<p>Il se décline en 5 catégories par ordre de sévérité. (A, B, C, D, E), la catégorie "A" étant la plus sévère.</p>

<br>
