<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="assets/img/produits/serrure-1.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="clearfix mb-3"> <span class="float-start">Verrou à Code Mécanique Digital</span> </h4>
                        <ul class="">
                            <li>Code digital</li>
                            <li>Clavier mécanique</li>
                            <li>Coffre en alliage moulé</li>
                            <li>Mécanisme à combinaison modifiable - 8000 combinaisons possibles</li>
                            <li>Réversible D/G</li>
                            <li>Verrou avec pêne dormant en applique</li>
                            <li>Pour portes de 30 à 55 mm d’épaisseur. - Pour utilisation externe ou interne</li>
                            <li>Poids : 1.4 Kg
                            </li>
                        </ul>
                        <!-- <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="assets/img/produits/ser-bio.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="clearfix mb-3"> <span class="float-start ">Levier d'entrée biométrique</span></h4>
                        <p class="card-title">Le verrouillage des empreintes digitales actif à semi-conducteur, la technologie unique de reconnaissance de la lumière rouge biologique, rend l'identification plus précise et plus sûre. Il peut remplacer la plupart des serrures
                            de porte,adaptées à l'ouverture G/D. Avec le port de charge d'urgence, évitez les coupures de courant.</p>
                        <!-- <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="assets/img/produits/ser-blue.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="clearfix mb-3"> <span class="float-start ">Serrure électronique,
                          biométrique intelligente pour le bureau à domicile Bluetooth</span></h4>
                        <ul class="">
                            <li>4 Méthode de déverrouillage</li>
                            <li>Mot de passe anti-voyance</li>
                            <li>Longue durée de veille</li>
                            <li>Haute qualité</li>
                            <li>Surveillance en temps réel</li>
                        </ul>
                        <!-- <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="assets/img/produits/ser-card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="clearfix mb-3"> <span class="float-start ">Serrure de Porte Intelligente écran tactile Numérique Verrouillage Télécommande
                          Bluetooth avec Cartes MI et Poignée de Porte Électronique à Clé Mécanique (Or)</span></h4>
                        <ul class="">
                            <li>Déverrouillage Multiple</li>
                            <li>Matériaux de haute qualité</li>
                            <li>Faible consommation d'énergie</li>
                            <li>Sécurité</li>
                            <li>Déverrouillage à Distance</li>
                        </ul>
                        <!-- <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div> -->
                    </div>
                </div>
            </div>

            <div class="col mt-5">
                <div class="card h-100 shadow-sm"> <img src="assets/img/produits/ser-tactil.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="clearfix mb-3"> <span class="float-start ">Serrure de porte à empreinte digitale Clavier à écran tactile Serrure intelligente
                          entrée électronique Carte de mot de passe, porte à double langue avec clé</span></h4>
                        <ul class="">
                            <li>VERROUILLAGE DE PORTE INTELLIGENT AVANCÉ</li>
                            <li>Déverrouillage Multiple</li>
                            <li>HAUTE QUALITÉ</li>
                            <li>Sécurité</li>
                            <li>SÛR ET PRATIQUE</li>
                        </ul>
                        <!-- <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div> -->
                    </div>
                </div>
            </div>

            <div class="col mt-5">
                <div class="card h-100 shadow-sm"> <img src="assets/img/produits/ser-vevor.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="clearfix mb-3"> <span class="float-start ">VEVOR Serrure Antivole Serrure 4 en 1 Mot de Passe 20 Groupes d'empreinte
                          Digitale 160 Pièces pour Porte Maison 4 Manières 2 Clés Mécaniques</span></h4>
                        <ul class="">
                            <li>SERRURE 4 EN 1</li>
                            <li>GARANTIE DE SECURITE</li>
                            <li>QUALITE SUPERIEURE</li>
                            <li>USAGES MULTIPLES</li>
                        </ul>
                        <!-- <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div> -->
                    </div>
                </div>
            </div>

            <!-- <div class="col">
                <div class="card h-100 shadow-sm"> <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Asus Rog</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">12354.00€</span> <span class="float-end"><a href="#" class="small text-muted">Reviews</a></span> </div>
                        <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="https://www.freepnglogos.com/uploads/notebook-png/notebook-laptop-png-images-you-can-download-mashtrelo-14.png" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">DELL</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">12354.00€</span> <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span> </div>
                        <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</main>
