<!-- <router-outlet>jkbkkk</router-outlet> -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-in">
        <h1>Bienvenue chez Domaulec</h1>
        <h2>Votre bureau d’étude, de conseil et de réalisation en domotique, immotique, multimédias et nouvelles technologies du bâtiment. &amp; plus...</h2>
        <img src="./../../../assets/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
        <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
        <div class="btns">
            <a href="#"><i class="fa fa-facebook-square fa-3x"></i> Facebook</a>
            <a href="#"><i class="fa fa-instagram fa-3x"></i> Instagram</a>
            <a href="#"><i class="fa fa-twitter fa-3x"></i> Twitter</a>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- <main id="main"> -->

<!-- ======= Get Started Section ======= -->
<!-- <section id="get-started" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2>Nos activités</h2>
            <p class="separator">Bureau d’étude, assistant à la maitrise d’œuvre, programmeur en domotique et solutions audiovisuelles haut de gamme. </p>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="feature-block">

                    <img src="assets/img/svg/analysis.svg" alt="img" class="img-fluid">
                    <h4>ÉTUDE</h4>
                    <p>Chaque projet a sa particularité, chaque utilisateur et chaque lieu, des besoins différents. Fonctionnalités, budget, sont autant de paramètres à prendre en compte. Votre cahier des charges est soigneusement étudié, affiné. Vous êtes
                        conseillé pour le traduire en réalité.</p>
                    <a href="#">En Savoir Plus</a>

                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="feature-block">

                    <img src="assets/img/svg/planet.svg" alt="img" class="img-fluid">
                    <h4>MAITRISE D’ŒUVRE </h4>
                    <p>Une intégration réussie pour votre installation ! La coordination de l’ensemble des acteurs de votre projet est prise en main par DOMOTIC. Pas à pas et tout au long de l’intégration, le suivi de votre réalisation est assuré par notre
                        équipe d’expert. Toujours proche de la maitrise d’œuvre et de la maitrise d’ouvrage, mais aussi dans le respect des sociétés et des hommes qui mettent en œuvre votre projet.</p>
                    <a href="#">En Savoir Plus</a>

                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="feature-block">

                    <img src="assets/img/svg/programming-monitor-svgrepo-com.svg" alt="img" class="img-fluid">
                    <h4>PROGRAMMATION</h4>
                    <p>Le succès de votre installation domotique et audiovisuelle dépend de la qualité de sa programmation. Mise en service et personnalisation – le résultat final est garanti. Votre système est prêt à l’emploi.</p>
                    <a href="#">En Savoir Plus</a>

                </div>
            </div>

        </div>
    </div>

</section> -->
<!-- End Get Started Section -->